.yContainer {
    max-width: 960px;
    margin: 0 auto;
    display: block;
}

.yContainer label {
    float: none;
    font-weight: normal;
}

.yContainer a {
    color: #1f4e79;
    text-decoration: underline;
}

.yContainer a.roundedAnchor {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 6px 22px;
    border: 1px solid #680568;
    color: #000;
    border-radius: 8px;
}

.yContainer p {
    font-size: 1.1em;        
}

.yContainer .logoLeft {
    float: left;
    min-width: 290px;
    padding-top: 12px;
}

.yContainer .logoLeft p {
    padding: 14px 0 0 12px;
}

.yContainer .logoRight {
    float: right;
    margin-bottom: 2px;
}

.yContainer .logoRight ul li {
    line-height: 18px;
    padding-left: 18px;
    clear: left;
    color: #000;
    display: block;
}

.yContainer .logoRight ul li:nth-child(odd) {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAIAAADtkjPUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkSDi4xQ6cOhgAAAMhJREFUGNNj+I8d/Hl3cnp2XOWGR78ZsEl/v7kg1tCqZNfLP////8dQ8ffTmR53adWktU9/QwTQVHy9OtldiNeq48IXuBDD/7/fn148fe/z3////7zcmq7IJOi/8MFvJE0Mz9dFijAw8Psve3B/SaAgg0j4mmd/UIxl+P/n2ZpwYQYGMUsDHgb+gOVP/6A5jOH///8/r3cbMzIwMLCY99/4ieExhv//////+3y5r7xR2qLrX7F4nfH///8MDAy/vn5l4uZmYcACADBm91CC3733AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    font-weight: bold;     
}

.yContainer hr {
    display: block;
    clear: both;
    height: 0;
    border-bottom: 1px solid #989898;
    border-top: 1px solid #b0b0b0;
    margin: 0;
}

.yContainer .loginInfo {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAlCAYAAAAjt+tHAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gkaFAQifHeNOQAAAlNJREFUWMO1mL9rFUEQxz97PI3B+AsMKWJnYWlExEIQbEJaC9OmSRvETps0/gVipYWtgqWVgpWC2tgoMaBYWPmDJE2EaN7d2uzBuMzs7t27DCzcvdudz/f2x8zcg+52CrgD7AJNaL+B28A8B2wXBNRqjw4KfklAvAGvQ3sJHB8SvhrBNQHjSMiDoeDzEUgTEMPb68tDCNhUBJTAG+DTpPCrmTUfJ4S0M3V+EgEvCtd8rDxvxz1PAaqMgJHxeyPGymuv9J2aRMAJ5TefgFdK3xngSF8Bx6I384DrACcIONlXwC+xll3gUsQ28L2vgD/iTZwClKIwZmC/zyZr7ZuA+wzcK9cuxJHedi2K8U1Bk31r4MykweitAveF8JtDhOKFKNCUJqOnQ2bD5R7J6PTQ9cC6IaBWhNwvdVoV9hsBO+FMe7HLGyU2bAFfCk5Ysc0Aez2S0R5wNxEnimwa+JhZc6seaGfqa/DTyY4CSyGElqy5rAG0o/oXuN6lCLEc5eA+ExvWcvBZBeqVSGjBfSYw1eEFTXuTcJRac58ZJ4W8Bw5p8LOZc14XbLjUm0th92K4C8piZ5aTVG5IwWW//+yK0ikFL01GqVlalwI+FKxd12SUG/cZOOzC9DdRiHVGJeSie4wSTYt+TgnfcxUwpwBSQnJVsksI8dHzWxWwqAyUcGc4spJRrkqWQkYV8DNUv33g2vdBbrZavz+Ah/LhDeBdwRnvmozijfk41IlmlpwCVoDXHQqQXDJ6BZwjsTNzX0cL4R+Si2GmRoavfeAJsBHun4V0bto/ydIVRUzvSjcAAAAASUVORK5CYII=);
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding: 16px 0 22px 65px;
}

.yContainer .loginInfo p {
    margin: 0;
    padding: 0;
}

.yContainer .loginInfo p:first-of-type {
    font-weight: bold;
    padding-bottom: 14px;
}

.yContainer .loginInfo input:first-of-type {
    margin-left: 20px;
}

.yContainer .loginInfo a {
    float: right;
    position: relative;
    top: -6px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.76);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.76);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.76);
}

.yContainer .loginInfo a span {
    display: block;
    clear: left;
    font-weight: normal;
    padding-top: 4px;        
    color: #268CCD;
    text-decoration: underline;
}

.yContainer .loginDetail {
    padding-left: 65px;

}

.yContainer .loginDetail h2, .yContainer .yConfiguration h2 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA6CAYAAADspTpvAAAABHNCSVQICAgIfAhkiAAAB9VJREFUaIHtWktv29gV/s6lrRgFArHxGEmbAFYKzF5eddrNyLuim8q/wMqq6GNKK47sZNyAJjyJYTuOrA6SrZ1lV1ZWxays2bUrez9to6BNAXeQRJ5HET94vy4oUqQkeyyZJlrAB4JA6fKe+3333vO4hwQu5EIu5P9ZJMnByu8vZwUDm6KQEQigsfa7L4rFJDEYSQ1UHi2bomQbCteCPxU++PmVn5l/evPZZ0nhUEkNpFOHeQpNkgABel/QYCEpDAAwkNhIrphUBETQZJywQXmS2Aor96jqrSpBEgBAEgSqSWEAEiRcfHmvDo1bJBuER5pkDQcqUaeVGGEAUO5gNWzDJOvFl8VGohiSHOwQ7/IUmP4Kg8iXR8tmkhgSJQxFy7dhAqDQ1Ma7fKIQkhpoefRBlpAsvc0cOC8XYieFAUgyDgssBM4KPm0IkFkZXcwlhSMRwvaobRIoMAhJvg0311vJZBI4gIQIX9JGISAHtGwYwQQUFkcXM0lgSYQwBZZHDsGqRpwXCAVdSALLuRNeuGHnAWQYrDBBjTVN3YgQl2S29fmvMGXSX0mfnOwfVqhRCTsvgJnF0QeF84bT9fAwm57NqBQKACAK9Ye7Sxv9KLev2hkq5MOHBVKqc7tOffGqvcGhAZv0zhAUAIJJAH2NBXjnbWjx4rpitfjFzE77PR0r/PFIKatS3BYFW5TYAln/+Nrd9X4AiIFmogG0PLP7DADu7Tp1utxoOS8ARK5f57X6o+UCKdsU2FBiA2q7/P5qoQNT+x+zI6VtEckKBM2Pd5vmLVGoA4BQmRRk/T5KZBSiMv7siUgGIhnv2uvvHQqlbv9z/qbfb+H6Qk4Z3Gp2CsZqrviOApp5toKQn/vXUIDSqEWIGMamKJh+fwgglEbxr3e+/12EKW0AvI/4uBD6Ffw+qc3Xp4mi88pZC4/3yY35F1Aq4wMRCa7a9LXaJFiJlu5QryheYrz4t1IwOR1bWoM77bESkYShM44Gv4KwE23zPDMb+KbTPrWmw/YYHTGBE+L3MSEuPC6OBiJ23EFYmgBaaWCboo5MqQUyGCbU5tswyaqz53QcBd1vUSXZiJJrHxcnkGuN215c0Jpr7cfPrkWW6eHpnAFYFDEFeC5aGlAsi1Km1ylk30SDgkpz9mq+Dmqj8fDLhx1e8jSycN3O+QFEKWYAyUA4KqIKgX0GZiQAuZPiwfghhvJQMun5AD6b+fu9jXbdp64qlUZKWQHWFZDtsG9yZ3B/f9zZq5zLYX7hxkJeRK+r5oRH7Ztrd+u/P3XVpKcympW2zKHBVBmCQsuB+N9sCDn+8MuVvlb1OFm47syLAbvdGRJsKG0U7/1jbqMXfX3VDWfeuzMlImUg7Dn9bxYX/728dmznU4qdtk3jsmyKIOdpDnlmsg53YGLuX3M9T27fhdLSSCkr1FsiyvRDgw+MGhuXDt8V+93i9g/trAg3RSTTESI1q0ff8FY3B3gaOVNl2EpbZmpwcFOJ5AJlPjhiRx/IxNLeUr0XnfbV+wUxUIbnMEMTCQjh3H/lzJ8Fcyyl8JnhO2UoTEU8JwAhG6mDg5unXen7P5ibEpFyx6oSDYpMOK+c2lmxxnJaWn79qEhX39JaN8LxWwPoZVvT1fWO+K31Dl0Zi4MsEOPxcOXN440gEWhlZbVedBj7qVorowryq5qz69Tjwhkb4VLaygqaNWefuHaf96LD2XMaWnMnmsIyFxdGIEbCroGcvzp+Gqhct9bt3tmRUmF2eDrXrU3DfR7JzyFZ++psJi6csREWyi/ChwCtdX1pr1IP3zM9PJ2bGSltA1gXw9iaHZkpW2kr8uRBAbX2/FzDyMWFMzbCBHJsVjaaq1zz26y0ZZaGb68bIlsgs75jE3BqKJV6MTtSKvj3PthdqrWfhLTgw7hwxkLYSv823+U4+DkA3L5iFQYM9QJAIWLfQS0LpgDrd0dKW6WRUhYAqHU16rx0Lg6cQExxeMr8qAzIVDjNdDXGlRJbieQipxvghOKCgKQDAEqUHS4uQLtjceTpsbwBEHjS4Km+QClseWUdQpo1PK+Ih4YQDkQ+hDDvt3mnPACADaDhmwf8Ni+bOzPhM29pC5ZJIovgvY22rR1yPtCsHrl67NGbx2srr1cnhJggWW+P3wDMaOUEAOOx4zMT1pcP8wA6yYUIaLLuupxYfbs2UQl57uXXq9WDI3dMu9rpZt9h56Vjisdnd1oikZlvd15ezQpjlb1K13c5KnuVxurb8jwOj8aoUevcJR5xETGPi929yJltWICuILRmTR3pYuU/T09ldyt7lR0A46UrtwtaUBaB2W7f2hurdka8/Yn1vV9n9YBMishUpIFokLr46ddPN/rWnbbMlDLKMKTggfR9OuuaeKaA2tLr1Vo/uvsi/NHl38yL6nxyT3JDfTVQrCCe2tZ02sopQ5WhVBaI1pypubb8+lHPbwD1TNi69MsMhwZfdDSQO3/46slYr/pOI9NXim+ViNkRvw8Ob7anr98lPTuto4GBTNcGkWzX/+MQgdnt4cCxWE6Q+B6XEudSogUA6mahPlRcIAB1pHoes2fCT759UgPZ4XlJVnrVdVohWGlPTjRZXdnrPdXs6/XhD/Z/+kde0tcAaQCog9r59OunZy7NHid/fveX2k9SP35JgSlAXZPPHr9Z+9V5jXchF3IhF/I/I/8Fq3LtZwfHlSkAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size : 38px;
    line-height: 38px;
    margin: 9px 0 14px;
    color: #7d277d;
    padding-left: 65px;
    font-weight: normal;
    text-transform: uppercase;
}

.yContainer .loginDetail.yHidden h2 {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA6CAYAAADspTpvAAAABHNCSVQICAgIfAhkiAAABcdJREFUaIHtWr1uG0cQntkjCAHU6ZjCoHG3huk3kLp0prqkCvUEprq4slWltPQEkstUlMtUpqsklegunZgnEAPsHuIqpJYELMu3k0JH43Tco3nH4yIB+FW63dXON/szOz8E2GCDDf7PQJvCfN/fZYy9RcQmAAARnQkhjmxycGwJ8jyvvrW1dYmID2dtiPjtzs5O/fr6+ndbPJgtQbVarY2IdUNXxxYHAIsKZyhrHdYU/vz5cy+jK6t9LbB2h6fT6Wh7e/svRGwh4hYAABH1lVKHNzc3H23xsLbDAADT6TS9m8PxeDyyycGqwgbD1fY8z+rdtqowY+xF8hsR67VarW2Vgy1Bvu/vIuLuHAHGXtniAGBR4fTuzoCIzSAIWtZ42BDieV4dETtZ/Yj4zAYPAEsKb29vdxb1I2Kn0Wg0bXCxojAiGo9zEpVKpWOByvoV5py3Z9HRDER0RkT33l9bx3rtChPRnCK3t7evieh1sg0Rm77vd9bNxxgPNxqN5uyIEdEwDMPzIpM3Go1mtVq9SrZprXtSygNTHxH1hRD7RWQBfHn62vFcvTAMB+kxcwrHQfpF0iMionMhxGFeApzzU0R8mWwjogMhRC/u76at96dPn558+PBhmFeW7/sdx3G6ybYoig7TmzWnMOf80uQgRFF0iIhDgDsPiYi+jEHExwDQTAxvpu8twN1pEUI8mX0HQdBijF2YFCCiAQCMEt/vU0P69xRBfJsOQYloJIT45t64tKBHjx6RiUAZ0FofSSnPkm2c8yvT4pQoc19K2Z99zxmteGVLBxGNJpPJuYHQyTrkzTCZTO7pY7LS6yLQM4WC0+m0l36iygIRnaVlGq107Nu+iO/qOyIaMcZOTWkaIholnph+st1kJZdB0rcmoiYiNhHxcZZ7SkQDpdR+rVZrM8aeAQBord+YXpel07Sx9e6aDNpM4LqCec55GwC6GQueK9WbKy/teV7ddd1T00oT0UhrvV90V7MQBMGxKYSM5R3l9RFy5bRubm4+Xl9fv3Ndd4yI3yX7EHGLMfaj67pjpdQfeeY1wfO8+oMHD35ljHXSfUQ01Fp/H4bhb3nnLVx5MDkoCULnSqmjokc8XaFIQmvdm0wmh0XnXqnUEh/xt4jYSvcR0eD29vYgr9fk+34ny0BqrU+klMeFCUNJtSWTCwlwd8+UUk+W3Y0gCF4yxk5N8xDRQdKBKIpSoiUhxFEURYem9zTP0Zu5rknEJ2WvDGUBSgwPTdaSiPp55lBKmcb3iwQTWShN4Tg0Szvv7/LMMR6PRwbXtrUqtyRKU9hkuKIo6pvG+r7fycpUphcJEXfLzHeVqfAPyW8iGqaPYhAELc75peM4XcbYBef81FB56KfndhynVRbPde5wf/aH53l1znk3freTcfRL13Wvkqkdk3FijD0ti2cpCse+7j1ord8D3B1f13Wvshx/RKw7jtPlnF/4vr8b/2+66NYqgydAeTs8twOIOOScXziOY3T6DeNbjuNcBkFwDAB/pvqas8VYFZUyJgHDDixI3YyI6AQAnjLG5k4GY+yV6T2Pr8zKgcnKOxyXUZZafa11L3YizqSUB0R0QETD9LiME1HKPV5Z4WXKnUQ0jF3De761EKKnlNpbJs1jevaKYGWFv2ZBtdYnSqm9WWo2jfF4PJJSHkdRtLfIM0PEehlVxjKMlpEEEfWjKNqTUh4v40+HYTgQQuxn+eSLZOVB4R+1+L6/63neT+lEQJyJeC6lPFJK/Z13XqXUABF/rlarDw22oem67jc7OzuglBoW4V0oPFyQdlkp8DfIaSHiaUYerdDPFnMrbKoJxQQGQoi9vPMtA875PybLXaQsk/sOVyqVpql92aepCLIclywui1CaL72uZPqiuYvIzK2wlLJvKsek671lwjS31tpYDv0aCllpRPylWq0+hLvq3lBrfRKG4dnX/q8olFL9+GeLdQAYEtEbKeXzdcnbYIMNNvjP4F+2NOCNC6gMhAAAAABJRU5ErkJggg==);
    color: #7f7f7f;
}

.yContainer .loginDetail.yHidden .hideable {
    display:none;
}

.yContainer .loginDetail h2 {
    position: relative;
    margin: 9px 0 9px;
    left: -65px;
}

.yContainer .loginDetail a {
    padding: 9px 60px;
    color: #7d277d;
}

.yContainer .loginDetail p {
    margin: 10px 0;
}

.yContainer .yConfiguration {
    margin-bottom: 25px;
}

.yContainer .yConfiguration .row {
    min-height: 32px;
}

.yContainer .yConfiguration .row label {
    clear: both;
    display: block;
    float: left;
    margin: 0 30px 0 4px;
    padding-top: 5px;
    width: 320px;
    text-align: right;
}

.yContainer .yConfiguration select, .yContainer .yConfiguration input {
    padding: 6px 22px;
    border: 1px solid #680568;
    border-radius: 4px;
    text-align: left;
    background: #fff;
    padding: 2px;
}

.yContainer .yConfiguration label[for="reportClaimsPageLink"] {
    width: auto;
    min-width: 320px;
}

.yContainer .yConfiguration input#reportClaimsPageLink {
    min-width: 390px
}

.yContainer .yConfiguration input {
    width: 260px;
}

.yContainer a.roundedAnchor.save {
    color: #7d277d;
    margin-top: 15px;
}

